.back-to-top {
  position: fixed;
  left:20px;
  bottom:80px;
  display: none;
        }
  .search{
    position: absolute;
    right: 5px;
    transition: all 200ms ease;
  }
  .search input{
    display: none;
    margin-right: 5px;
  }
  .arama_acilir{
    overflow: hidden;
    display: none;
    border-radius: 0;
    position: absolute;
    z-index: 30;
    border-color:#337ab7;
  }
  .fulle{
    width:100%;
    text-align:center;
  }
  .puan_renk{
    color:#ea6f15 !important;
  }
  .sol_bosluk{
    margin-left: 35px;
  }
  .top_sifirla{
    text-align:center;
    margin-top:0px;
  }
  .middle{
    vertical-align: middle !important;
    text-align: center !important;
  }
  .search:hover input, .search input:focus{
    display: inline;
    width: 175px;
  }
  .ek_ayar{
    width:100%;
    height:360px;
    overflow: hidden;
  }
  .ratings{
    position: absolute;
    bottom: 7px;
  }

  .cizgi{
    position: absolute;
    width: 2px;
    height: 200px;
    background-color:#ADADAD;
    margin-left: 10px;
    margin-right: 10px;
    top: 70px;
  }
  .thumbnail_heading{
    margin-bottom:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
  }
  .thumbnail:hover{
  border:2px solid #337ab7;
  }
  .carousel-indicators li.active{
    bottom:0px;
    background-color:#333;
  }
  .fiyat_anadiv{
    color:#484848;
    width:200px;
    height:50px;
    position:relative;
    text-align:center;
    border:1px solid #ddd
  }
  .fiyat_anadiv-buyuk{
    background-color:white;
    width:300px;
    height:75px;
  }
  .sol-20{
      margin-left: 20%;
  }
  .indirim{
    float:left;
    border-radius:3px;
    background-color:red;
    font-size:30px;
    color:white;
    width:70px;
    height:50px;
    margin-left:0px;
    position:absolute;
    line-height:50px;
  }
  .indirim-buyuk{
    font-size:45px;
    width:105px;
    height:75px;
    line-height:75px;
  }
  .old_price{
    height:20px;
    width:110px;
    color:#9e9e9e;
    font-size:15px;
    text-decoration:line-through;
  }
  .old_price-buyuk{
    height:30px;
    width:165px;
    font-size:22px;
  }
  .price{
    height:30px;
    width:110px;
    color:#333;
    font-size:25px;
  }
  .price-buyuk{
    height: 45px;
    width: 165px;
    font-size: 37px;
    border-top:1px solid #ddd;
  }
  .adet{
    background-color:white;
    border-radius:4px;
    margin-bottom:10px;
  }
  .adet-artis{
    float:left;
    font-size:30px;
  }

  .adet-azalis{
    float:right;
    font-size:30px;
  }
  .adet a{
    text-decoration: none;
  }
  .adet_miktari{
    width:40px;
    border:0px;
    text-align:center;
    font-size:20px;
  }
  /* input number sağ da ki çubukları kaldırır. */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input[type="number"] {
      -moz-appearance: textfield;
  }
  .tab_panel{
    width:20%;
    font-size:20px;
  }
  /* checkbox style */
  .checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
h1,h2,h3,h4,h5,h6{
  color:#666666;
}
